<!--
  Generated template for the CompinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Update More Info</ion-title>
      </ion-navbar>
      
 </ion-header>

<ion-content padding>
    
      <ion-list>
            <ion-item>
              <ion-label stacked>Description</ion-label>
              <ion-textarea row="4" [(ngModel)]="desc" name="desc" placeholder="Company Description"></ion-textarea>
          </ion-item>
          <ion-item>
              <ion-label stacked>No of Empolyee</ion-label>
             <ion-input type="number" id="Noofemp" [(ngModel)]="Noofemp" placeholder="No of Empolyee"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label stacked>Turn Over</ion-label>
             <ion-input type="number" id="turnover" [(ngModel)]="turnover" placeholder="turn over"></ion-input>
          </ion-item> 
          <ion-item >
            <ion-label stacked>Currency</ion-label>
        </ion-item>
        <ion-item class="selectborder" >
             <ion-select [(ngModel)]="annual_currency">
                <ion-option value="0" >Select Currency</ion-option>
                <ion-option value="Rs" >RS</ion-option>
                <ion-option value="USD" >USD</ion-option>             
            </ion-select>
       </ion-item>
       <ion-item >
        <ion-label stacked>Turn over</ion-label>
    </ion-item>
    <ion-item class="selectborder" >
         <ion-select [(ngModel)]="annual_mult">
            <ion-option value="0" >Select Turn over In</ion-option>
            <ion-option value="100000" >Lakh</ion-option>
            <ion-option value="10000000" >Crore</ion-option>
            <ion-option value="1000000" >Million</ion-option>
            <ion-option value="1000000000" >Billion</ion-option>         
        </ion-select>
   </ion-item>
          <ion-item  class="selectlable">
                <ion-label stacked>Company Image</ion-label>
            </ion-item>
           <ion-item class="item comment-item">
                  <div class="add-img" (click)="ChooseOption2()">
                    <span>
                  <img src="{{imgData}}"  >
                </span>
              </div>
            </ion-item>

            <ion-item  class="selectlable">
                    <ion-label stacked>Company Certificate</ion-label>
                </ion-item>
               <ion-item class="item comment-item">
                      <div class="add-img" (click)="ChooseOption()" *ngIf="certimg_type == 'jpg'">
                        <span>
                         <img src="{{imgCertificate}}"   >
                         
                    </span>
                  </div>
                     
                  <div class="upload" (click)="ChooseOption()" *ngIf="certimg_type != 'jpg'">
                      <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
                      <span>{{certimg_type_name}}</span> 
                </div>

                </ion-item>
        
          <ion-item class="pdploadmore">
                <button ion-button color="danger" (click)="send_otp()" round>Submit</button>
          </ion-item>
          
          </ion-list>
         
</ion-content>
