<ion-header>
    <div class="bar bar-header global-hdr">
      <div class="tf-logo"><img src="assets/imgs/hdr-logo.png"></div>
        <div class="h1 title">TradeindiaChat  {{headervalue}}</div>
      </div>
</ion-header>

<ion-content padding>
    <div class="chats">
        <div class="chatbox">
          <div *ngFor="let chat of chats">
            <div class="message sent" *ngIf="chat.type!=='bot'">
              {{chat.message}}     
            </div>
            <div class="message received"  *ngIf="chat.type =='bot'">
              <!-- <div *ngIf="clickable" (click)="msgclick()"> -->
             <span *ngIf="chat.btn =='0'"> {{chat.message}}</span>
             <div  *ngIf="chat.btn =='1'">
               <span *ngIf="chat.req_info =='seobtn'">
                  <div class="btn-block p-0">
                      <div class="row">
                        <div class="col">
                          <button class="button button-block btn-global btn-green" (click)="seopop()">What is SEO</button>
                        </div>
                        <div class="col">
                          <button class="button button-block btn-global btn-yellow" (click)="address()">Enter your Address</button>
                        </div>
                       </div>
                    </div>
               </span>
               <span *ngIf="chat.req_info =='co_namebtn'">
                  <div class="btn-block p-0">
                      <div class="row">
                        <h1>Confirm your Company Name</h1>
                        <p>{{co_name}}</p>
                        <div class="col" >
                          <button class="button button-block btn-global btn-green editcomp" (click)="edit('comp')">Edit</button>
                        </div>
                        <div class="col">
                          <button class="button button-block btn-global btn-yellow confrimcomp" (click)="confrim('comp')">Confrim</button>
                        </div>
                       </div>
                    </div>
               </span>
               <span *ngIf="chat.req_info =='co_name_conf'">
                  <div class="btn-block p-0">
                      <div class="row">
                        <div class="col">
                          <button class="button button-block btn-global btn-green" >{{co_name}}</button>
                        </div>
                        
                       </div>
                    </div>
               </span>
               
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <!-- <form id="side-1" class="flip">
            <div>login</div>
            <input id="username" placeholder="enter username" />
            <input id="password" placeholder="enter password" />
            <a id="login" href="#">login</a>
            <a id="signup" href="#">sign up</a>
        </form>
        <form id="side-2" class="flip">
            <div>signup</div>
            <input id="new-username" placeholder="enter username" />
            <input id="new-password" placeholder="enter password" />
            <input id="new-re-password" placeholder="re-enter password" />
            <a id="create" href="#">create</a>
        </form> -->
    </div>
   
    <ion-footer>
        <p text-center *ngIf="sending">sending...</p>
        <div class="flex-items" padding>

            <ion-input [(ngModel)]="message" name="message" class="please enter" placeholder="send message ..."></ion-input>
            <ion-icon (click)="sendMessage()" class="send" name="send"></ion-icon>
          </div>
    </ion-footer>
</ion-content>
