page-home {
  

  .global-hdr{background: #ce271e; color: #fff;}
  .global-hdr .title{color: #fff; font-family: 'RobotoRegular'; font-size: 1.4em;display: inline-block;}
  .tf-logo img{width: 20px;}
  .tf-logo{width: 30px; text-align: right; line-height: 44px;display: inline-block;
    margin: 10px;}
  .global-hdr .button{color: #fff;}

    .flex-items{
        display:  flex;
        background-color: #fff;
        padding: 16px;
        border-radius: 58px;
    }
    .icon{
        font-size: 50px;
        opacity: 0.5;
        padding-left: 40px;
        align-self: center;
    }
    .send{
        color: #ce271e;
        font-size: 30px;
    }
    .input_message{
        border: 1px solid #ce271e;
        border-radius: 15px; 
    }
    .messages{
        height: 100%;
        position: relative;
    }
    .footer{
        position: fixed;
        bottom: 0%;
        padding: 10px;
    }
    .chats {
        height: 100%;
        position: relative;
        z-index: 0;
    }
    .chats .chatbox {
        height: calc(100% - 80px);
        overflow-x: hidden;
        padding: 0 16px;
        padding-bottom: 30px;
    }
    .joined {
      clear: both;
      line-height: 18px;
      font-size: 15px;
      margin: 8px 0;
      padding: 8px;
    }
    .joined span {
      padding: 5px
    }
    /* Messages*/
    .message {
      color: #000;
      clear: both;
      line-height: 18px;
      font-size: 15px;
      padding: 8px;
      position: relative;
      margin: 8px 0;
      max-width: 85%;
      word-wrap: break-word;
      z-index: 99;
    }
    .message:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
    }
    .message:first-child {
      margin: 16px 0 8px;
    }
    .message.received {
      background: #e3d5b2;
      border: 1px solid #e3d5b2;
      border-radius: 25px;
      padding: 10px 20px;
      color: #413f40;
      float: left;
    }

    
    .message.sent {
     
        background: #e3d5b2;
        border: 1px solid #e3d5b2;
        border-radius: 25px;
        padding: 10px 20px;
        color: #413f40;
      float: right;
    }
    .message.sent:after {
      border-color: transparent #e3d5b2 transparent transparent;
      border-width: 1px 43px 4px 0px   !important;
      top: 9px !important;
      right: -26px !important;
    }
    .scroll-content{
      padding: 0 !important;
    }
    ion-app.md [padding] {
      padding: 10px !important;
     
  }
  
.btn-global{background-color: #ce271e; color: #fff; text-transform: uppercase; font-family: 'RobotoRegular'; font-size: 1.2em; min-height: 52px; line-height: 47px; font-weight: 600;}
.btn-global:hover, .btn-global:focus{color: #fff;}
.btn-global.activated{background-color: #c22118; color: #fff; border: 1px solid #c22118;}
/*======== global-header ========*/
  //..................end.........................//
 
  .alert-head {
    background: #e2252b !important;
   
}
.scroll {
  max-height: 403px !important; // for example
  overflow-y: scroll !important; // show vertical scroll
  margin: 0 10px !important;
}
.btn-block .button {
   font-size: 0.8em !important;
  min-height: 28px !important;
  line-height: 28px !important;
}
.message:first-child {
  margin: 0px 9px 8px 9px !important;
}

.message.received {
  background: #eb464c !important;
  border: 1px solid #e3d5b2;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}
.message.received:after {
 
  border-color: transparent #eb464c transparent transparent !important;
  border-width: 2px 35px 3px 2px !important;
  left: -26px !important;
  top: 13px !important;
 
}
.headcr{
  margin-bottom: 15px;
  .headcrp1{
      padding: 10px 30px;
  }
  
}

}
