page-map {
    .map_class{
        position: initial !important;
        // overflow: hidden;
        height: 90%;

    }
    .mark_loc{
        width: 100%;
    }
    .save_button{
        height: 10px;
        background-color: red;
    }
}
