page-map {
  .global-hdr{background: #ce271e; color: #fff;}
  .global-hdr .title{color: #fff; font-family: 'RobotoRegular'; font-size: 1.4em;display: inline-block;}
    .map_class{
        position: initial !important;
        // overflow: hidden;
        height: 90%;

    }
    .mark_loc{
        width: 100%;
    }
   
    //.......................btn ................//
  btn-yellow{background-color: #fdc519; color: #1d1d1d;}
  .btn-green{background-color: #0edc22; color: #1d1d1d;}
  .btn-red{background-color: #ce271e; color: #f4f4f4;}
  .btn-yellow.activated, .btn-yellow:hover, .btn-yellow:focus{background-color: #f4bd12; color: #1d1d1d; border: 1px solid #f4bd12;}
  .btn-green{background-color: #0edc22; color: #1d1d1d;}
  .btn-green.activated, .btn-green:hover, .btn-green:focus{background-color: #2db33a; color: #1d1d1d; border: 1px solid #0af521;}
  .btn-block .button{font-weight: 500; font-family: 'RobotoRegular'; padding: 0 5px; font-size: 0.9em; min-height: 42px; line-height: 42px;}
  .btn-block{padding: 0 5px;}
  .p-0{padding: 0 !important;}
.m-t-1{margin-top: -1px !important;}
.m-t-10{margin-top: 10px !important;}
.m-t-20{margin-top: 20px !important;}
.m-b-10{margin-bottom: 10px !important;}
.p-t-10{padding-top: 10px !important;}
.left{text-align: left !important;}
.right{text-align: right !important;}
.center{text-align: center !important;}
.p-r-5{padding: 0 3px 0 0 !important;}
.p-l-5{padding: 0 0 0 3px !important;}
.w-100{width: 100% !important;}
.b-t-0{border-top: 0 !important;}
.b-b-0{border-bottom: 0 !important;}
/*======== global-button ========*/
.btn-global{background-color: #ce271e; color: #fff; text-transform: uppercase; font-family: 'RobotoRegular'; font-size: 1.2em; min-height: 52px; line-height: 47px; font-weight: 600;}
.btn-global:hover, .btn-global:focus{color: #fff;}
.btn-global.activated{background-color: #c22118; color: #fff; border: 1px solid #c22118;}
/*======== global-header ========*/
  //..................end.........................//
  .save_button {
 
    background-color: #e13838;
    padding: 10px;
    font-size: 29px;
    text-decoration: underline;
    text-align: center;
  }
  ion-header {
     color: #f4f4f4 !important;
  }
}
