// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body{
    //background: url('../assets/imgs/bg.png') !important;
   
    .alert-head {
        background: #e2252b !important;
       
    }
    ion-alert.alert-top {
        padding-top: 86px !important;
       
    }
    .alert-wrapper {
       
        min-width: 90% !important;
        
    }
    .alert-md .alert-title {
         color: white !important;
    }
    .alert-md .alert-button {
        
        color: #f53d3d !important;
       text-decoration: underline;
    }
    .bar-button-default-md, .bar-button-md-default {
        color: #f4f4f4 !important;
        }
        .toolbar-background-md {
                background: #f53d3d !important;
        }
        .toolbar-title-md {
          
            color: #f4f4f4 !important;
            text-transform: uppercase !important;
        }
    
//..........ios ..........//
    
    .alert-ios .alert-title {
         color: white !important;
    }
    .alert-ios .alert-button {
        
        color: #f53d3d !important;
       text-decoration: underline;
    }
    .bar-button-default-ios, .bar-button-ios-default {
        color: #f4f4f4 !important;
        }
        .toolbar-background-ios {
                background: #f53d3d !important;
        }
        .toolbar-title-ios {
          
            color: #f4f4f4 !important;
            text-transform: uppercase !important;
        }
    .back-button-text-ios{
        display: none;
    }
    //..........end.......//
    
}