<!--
  Generated template for the CompanyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Company Info</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding *ngIf="extd == 1">
    <ion-segment [(ngModel)]="pet" class="seg">
        <ion-segment-button value="puppies">
            User 
        </ion-segment-button>
        <ion-segment-button value="kittens">
            Company
        </ion-segment-button>
        <ion-segment-button value="ducklings">
           Bussiness
        </ion-segment-button>
        <ion-segment-button value="ExtraDetail">
            More Info 
        </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="pet">
  <div class="personal-detail" *ngSwitchCase="'puppies'" >
     <ul class="list item-list">
      <li class="item">
        <label class="item-left">User Name</label>
        <span class="item-right">{{detail.details.user_details.username}}</span>
      </li>
      <li class="item">
        <label class="item-left">Email</label>
        <span class="item-right">{{detail.details.user_details.email}}</span>
      </li>
      <li class="item rmborder">
        <label class="item-left">Mobile</label>
        <div class="item-right">
          <div class="inner-txt call-txt">
            <a href="tel:{{detail.details.user_details.mobile}}">
                <ion-icon ios="ios-call" md="md-call"></ion-icon>
            <span> &nbsp;{{detail.details.user_details.mobile}}</span></a>
          </div>
        </div>
      </li>
    </ul>
    <button ion-button color="danger" (click)="UpdateProfile('USER')" round>Update</button>
  </div>
  <div class="personal-detail" *ngSwitchCase="'kittens'" >
      <ul class="list item-list">
      <li class="item">
        <label class="item-left">Company Name</label>
        <span class="item-right">{{detail.details.comp_details.co_name}}</span>
      </li>
      <li class="item">
        <label class="item-left">Address</label>
        <span class="item-right">{{detail.details.comp_details.address}}</span>
      </li>
      <li class="item rmborder">
        <label class="item-left">Pincode</label>
        <span class="item-right">{{detail.details.comp_details.pincode}}</span>
      </li>
     </ul>
     <button ion-button color="danger" (click)="UpdateProfile('COMP')" round>Update</button>
  </div>
  <div class="personal-detail"  *ngSwitchCase="'ducklings'">
  
    <ol class="list item-list" start="1">
        <li class="item rmborder" *ngIf="detail.details.comp_details.ifexporter == 1">
            Exporter 
         </li>
       
            <li class="item rmborder" *ngIf="detail.details.comp_details.ifimporter == 1">Importer</li>
            
      
            <li class="item rmborder" *ngIf="detail.details.comp_details.ifmanu == 1">Manufacturer</li>
            
  
            <li class="item rmborder" *ngIf="detail.details.comp_details.ifservice == 1">Service </li>
            
       
            <li class="item rmborder" *ngIf="detail.details.comp_details.ifdistributor == 1">Distributor </li>
            
      
            <li class="item rmborder" *ngIf="detail.details.comp_details.ifsupplier == 1">Supplier</li>
            
       
            <li class="item rmborder" *ngIf="detail.details.comp_details.iftrader == 1">Trader</li>
            
       
        </ol>
      <button ion-button color="danger" (click)="UpdateProfile('NATURE')" round>Update</button>
  </div>
  <div class="personal-detail"  *ngSwitchCase="'ExtraDetail'">
    <ul class="list item-list">
        <li class="item">
            <label class="item-left">Comp Info</label>
            <span class="item-right">{{detail.details.comp_details.co_info}}</span>
          </li>
        <li class="item">
            <label class="item-left">No of Staff</label>
            <span class="item-right">{{detail.details.comp_details.staff}}</span>
          </li>
          <li class="item">
              <label class="item-left">Turn Over</label>
              <span class="item-right" *ngIf="turnoverimg == '1'"><ion-icon ios="logo-usd" md="logo-usd"></ion-icon>&nbsp; {{detail.details.comp_details.turnover}}&nbsp; {{turnovervalue}}</span>
              <span class="item-right" *ngIf="turnoverimg == '0'"><img src="assets/imgs/rupee.png" >&nbsp; {{detail.details.comp_details.turnover}}&nbsp; {{turnovervalue}}</span>
            </li> 
            <li class="item comment-item" style="list-style-type: none">
                <label class="item-left">Company Certificate </label>
                <div class="add-img" *ngIf="certficate !='application'">
                    <span><img src="{{certficate}}" ></span>
                </div>
                <div  *ngIf="certficate =='application'" class="download">
                   Download document &nbsp;&nbsp;<ion-icon ios="ios-download" md="md-download"></ion-icon>
                </div>
              </li>
  
              <li class="item comment-item">
                  <label class="item-left">Company Image</label>
                  <div class="add-img">
                     <span> <img src="{{compimg}}" ></span>
                  </div>
             </li>
     </ul>
     <button ion-button color="danger" (click)="UpdateProfile('EXTRA')" round>Update</button>
  </div>
</div>
</ion-content>
