<!--
  Generated template for the CompanyDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <div class="bar bar-header global-hdr" >
      <!-- <button class="button button-icon icon ion-ios-arrow-back"></button> -->
      <button ion-button icon-only  (click)="goback()">
          <ion-icon name="md-arrow-back"></ion-icon>
     </button>
    <div class="tf-logo"><img src="assets/imgs/hdr-logo.png"></div>
<div class="h1 title">Company Info</div>
</div>
</ion-header>


<ion-content padding *ngIf="extd == 1">
  <div class="personal-detail"  >
    <div class="item item-divider item-heading">User Details <span class="editdash" (click)="UpdateProfile('USER')">EDIT </span></div>
    <ul class="list item-list">
      <li class="item">
        <label class="item-left">User Name</label>
        <span class="item-right">{{detail.details.user_details.username}}</span>
      </li>
      <li class="item">
        <label class="item-left">Email</label>
        <span class="item-right">{{detail.details.user_details.email}}</span>
      </li>
      <li class="item">
        <label class="item-left">Mobile</label>
        <div class="item-right">
          <div class="inner-txt call-txt">
            <a href="tel:{{detail.details.user_details.mobile}}">
                <ion-icon ios="ios-call" md="md-call"></ion-icon>
            <span> &nbsp;{{detail.details.user_details.mobile}}</span></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="personal-detail"  >
    <div class="item item-divider item-heading">Company Details <span class="editdash" (click)="UpdateProfile('COMP')">EDIT </span> </div>
    <ul class="list item-list">
      <li class="item">
        <label class="item-left">Company Name</label>
        <span class="item-right">{{detail.details.comp_details.co_name}}</span>
      </li>
      <li class="item">
        <label class="item-left">Address</label>
        <span class="item-right">{{detail.details.comp_details.address}}</span>
      </li>
      <li class="item">
        <label class="item-left">Pincode</label>
        <span class="item-right">{{detail.details.comp_details.pincode}}</span>
      </li>
     </ul>
  </div>
  <div class="personal-detail"  >
    <div class="item item-divider item-heading">Nature Of Bussiness <span class="editdash" (click)="UpdateProfile('NATURE')">EDIT </span></div>
    <ul class="list item-list">
        <li class="item">
            <label class="item-left" *ngIf="detail.details.comp_details.ifexporter == 1">Exporter ,</label>
       
            <label class="item-left" *ngIf="detail.details.comp_details.ifimporter == 1">Importer ,</label>
            
      
            <label class="item-left" *ngIf="detail.details.comp_details.ifmanu == 1">Manufacturer ,</label>
            
  
            <label class="item-left" *ngIf="detail.details.comp_details.ifservice == 1">Service , </label>
            
       
            <label class="item-left" *ngIf="detail.details.comp_details.ifdistributor == 1">Distributor , </label>
            
      
            <label class="item-left" *ngIf="detail.details.ifsupplier == 1">Supplier ,</label>
            
       
            <label class="item-left" *ngIf="detail.details.comp_details.iftrader == 1">Trader ,</label>
          </li>  
       
      </ul>
  </div>
  <div class="personal-detail"  >
    <div class="item item-divider item-heading">Extra Detail <span class="editdash" (click)="UpdateProfile('EXTRA')">EDIT </span></div>
    <ul class="list item-list">
        <li class="item">
            <label class="item-left">Comp Info</label>
            <span class="item-right">{{detail.details.comp_details.co_info}}</span>
          </li>
        <li class="item">
            <label class="item-left">No of Staff</label>
            <span class="item-right">{{detail.details.comp_details.staff}}</span>
          </li>
          <li class="item">
              <label class="item-left">Turn Over</label>
              <span class="item-right">{{detail.details.comp_details.turnover}}</span>
            </li> 
            <li class="item comment-item">
                <label>Company Image </label>
                <div class="add-img">
                    <img src="{{detail.details.comp_details.certificate_img_url}}" >
                </div>
              </li>
  
              <li class="item comment-item">
                  <label>Company Certificate</label>
                  <div class="add-img">
                      <img src="{{detail.details.comp_details.comp_pic_img_url}}" >
                  </div>
             </li>
     </ul>
  </div>

</ion-content>
