page-createmywebsite {
 .main{
    background: #0588b5;
 }
 .button-md {
         background-color: #f53d3d !important;
         width: 100%;
 }
 .btncr{
   
    margin-top: 100px;
 }
 .headcr{
    margin-bottom: 15px;
    .headcrp1{
        color: white;
        font-size: 35px;
        text-align: center;
        margin-top: 0px;
    }
    .headcrp2{
        margin-top: -15px;
    text-align: center;
    color: wheat;
    font-size: 16px;
    margin-bottom: 50px;
    }
 }
}
