<!--
  Generated template for the CreatemywebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="main card-background-page">
  <div class="headcr">
    <p class="headcrp1">TRADEINDIA</p>
     <p class="headcrp2">!! Create a custom website in minute !!</p>
  </div>
 <div >
  <img src="assets/imgs/create.png" >
 </div>
 <div class="btncr">
 <button ion-button icon-start (click)="gotoHome()">
  <ion-icon name='create'></ion-icon>
  Create Web site
</button>
<button ion-button icon-start>
  <ion-icon name='key'></ion-icon>
  Login
</button>
</div>

</ion-content>
